@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

:root{
  --primary-drak:rgb(58,58,64);
  --primary-light-gray:#f4f4f4;
  --primary-dark-gray:#666666;
}

body{
  font-family: "Roboto Condensed", sans-serif !important;
}

/* Navbar */
nav{
  z-index: 2;
}
.logo{
  width: 5rem;
}
/* 
Links style */

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:white !important;
  border-top: 0.18rem solid var(--primary-drak) ;
}

.navbar-brand{
  max-width: 17.25rem;
  padding:0 i !important;
  height:6rem im !important;
}

@media (max-width:768px){
  .navbar-brand{
    width:7rem ;
  }
}


  .navbar-nav > li> a:focus{
  border-top: 0.18rem solid orange;
}

.navbar-nav > li > a:hover{
  border-top: 0.18rem solid orange;
}

/* header */

.header-wraper{
  position:relative;
  background: url(wallandlaptop.jpg);
  background-size: cover;
  background-position: center;
  height:90vh;
}

.main-info{
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  z-index: 2;
}

.main-info h1{
  color: orange;
  text-transform:uppercase ;
}

@media (max-width:768px){
  .main-info h1{
    font-size: 1.5rem  !important;
  }
}

/* typed text */
.typed-text{
  font-size: 2rem;
  color: white;

}

@media (max-width:768px){
  .typed-text {
    font-size: 1.5rem  !important;
  }
}

/* 
button main */

.btn-main{
  border: 1px solid yellow;
  color: white ;
  border-radius: 0;
  padding:0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
  transition: .2s ease-in-out;
}

.btn-main:hover{
  text-decoration: none;
  background-color: green;
}
/* 
particles */
.tsparticles-canvas-el{
  position: absolute;
  height: 100hv;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px){
  .partcs{
    display: none;
  }

}
/* 
About me */
.photo-wrap{
  display: flex ;
  justify-content: center;
  align-items:center;
  
}
.profile-img{
  width:16rem;
  border-radius: 50%;
  padding: .3rem;
  border:1px solid orange;
}
.about-heading{
  color:orange;
  text-transform: uppercase;
}
@media(max-width:468px){
  .profile-img{
    width: 10rem;
  }
}
/* 
service */

.services{
  text-align: center;
  padding-bottom: 2rem;
  background-color:var(--primary-light-gray) ;
}

.services h1{
  color:var(--primary-drak);
  text-transform: uppercase;
}
.services .circle{
  position:relative;
  margin:0.375rem auto;
  background-color: lightblue;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
.services .iconsser{

  font-size:1.4rem;
  color:white;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.services .box{
  height:16rem;
  border-bottom: 0.3125rem solid lightblue;
  padding:0.625rem;
  margin-bottom: 1.875rem;
  background: white;
  transition: 0.3s ease-in-out;
}

.services .box:hover{
  background: lightblue;
  border-bottom: 0.3125rem solid var(--primary-drak);
}

.services .box:hover .iconsser{
  color: var(--primary-drak);
}

.services .box:hover .circle{
  background: white;
}

.services .box:hover p{
  color:white;
}

/* 
experience */
.experience{
  padding: 0.7rem;
}
.experience-wrapper{
  position:relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1{
  text-transform: uppercase;
  color: orange;

}

 .experience-wrapper::before{
  position:absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height:100%;
  background: gray;
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}


.timeline-block-left{
  float: left;
  direction:ltr;
}

.marker{
  width:1rem;
  height:1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-drak);
  background: lightblue;
  margin-top: 0.625rem;
  z-index: 3;
  
}

.timeline-content{

  width: 95% ;
  padding:0 0.9375rem ;
  color:var(--primary-dark-gray);
  direction: rtl;
}

.timeline-content h3{

  margin-top: 0.3125rem;
  color:red;
  font-weight: 900;
}

@media(max-width:768px){
  .experience .container{
    padding-left:0;

  }
  .experience-wrapper::before{
    left:0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float:none;
    width: 100%;
  }
  .timeline-block-left{
    float:none;
    direction:ltr;
    width:100%;
  }
}

/* 
portfolio  */

.portfolio-wrapper{
  background: var(--primary-light-gray);
  padding:3rem 0;
}

.portfolio-wrapper h1{
  color: orange;

}
.port-img{
  width: 15rem;
  border: 1px solid orange;
  padding:0 0.5rem;
  height: 8rem;
}

.port-img-box{
  position: relative;
  margin:1rem;

}

.overflow{
  position:absolute;
  opacity:0;
  background:black;
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid red;
  cursor:pointer;
}

.port-img-box:hover .overflow{
  opacity:60%;
  transition: 0.3s ease-in-out;
}

.port-icon{
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color:orange;
  font-size: 1.5rem;
}

.port-img-box:hover .port-icon{
  opacity: 70%;
  transition: 0.3s ease-in-out ;
  cursor: pointer;
} 

/* 
popup */

.port-img-popup{
  width:45rem;
  padding:0 0.5rem;
}


.hyper-link{
  cursor: pointer;
  color: orange;
}

.hyper-link:hover{
  color: red;
}


@media(max-width:768px){
  .port-img-popup{
    width:100%;

  }
}

@media(max-height:500px){
  .popupbox-wrapper{
    height: 100%  !important;
  }
  .port-img-popup{
    width:60%;
    
  }
}

@media(max-height:280px){
  .popupbox-wrapper{
    height: 90%  !important;
  }
  .port-img-popup{
    width:30%;
    
  }
}

/* 
Contacts */

.contacts{
  background: var(--primary-drak);
  padding:3rem 0;
  
}

.contacts h1{
  text-transform: uppercase;
  color: orange;
  padding: 1.3rem 0;
}

.contacts p{
  color:var(--primary-light-gray) ;
  font-size:1.2rem;
}

.contacts input, .contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-gray);
  border-radius: 0;
  color: orange;
  outline: 0  !important;
  box-shadow: none  !important;
  margin-bottom: 1rem;
  padding-left: 0  !important;

}

.contacts .container{
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus{
  background: transparent;
  color: orange;
  border-bottom: 0.125rem solid var(--primary-dark-gray);
}

.contacts textarea{
  height:12.4rem !important;

}

.contact-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}
input.form-control{
  margin: -0.3rem 0;

}
textarea.form-control{
  margin: -0.3rem 0;

}

.error-message{
  color: white;
  background: red;
  text-align: left;
}
.success-message{
  font-weight: 900;
  color: lightgreen;
  
}
@media(max-width:768px){
  .contacts{
    overflow-x: hidden;
  }
  .contacts .container{
    padding: 0 1rem;
  }

  .contacts p{
    padding:0 0.4;
  }
}

.line{
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: orange;
  display: inline-block;
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;

}

/* 
FOOTER */

.footer{
  background: black;
  color: var(--primary-dark-gray);
  padding: 3rem;
}

.footer a{
  text-decoration: none;
  color: var(--primary-dark-gray);
  
}
.footer a:hover{
  text-decoration: none;
  color: orange;
  cursor: pointer;

}

.footer p{
  margin-bottom: 0;
}